.color-input-container {
  display: flex;
  gap: var(--gap-s);
  align-items: center;
}

.color-text-input {
  background-color: var(--background-color);
  border: 1.5px solid var(--text-dark);
  border-radius: var(--border-radius-s);
  padding: 8px 12px;
  height: var(--input-height);
  width: 100%;
  text-transform: uppercase;
}

.color-picker-input {
  background-color: var(--background-color);
  border: 1.5px solid var(--text-dark);
  border-radius: var(--border-radius-s);
  cursor: pointer;
  height: 2.7rem;
}
