.overall-score {
  display: inline;
  padding: 6px 10px;
  border-radius: var(--border-radius-s);
  margin-top: 6px;

  background: var(--background-color);
}

.overall-score--Yup {
  padding: 2px 6px;
  display: inline;
  color: green;
}

.overall-score--Kinda {
  display: inline;
  padding: 2px 6px;
  color: orange;
}

.overall-score--Nope {
  display: inline;
  padding: 2px 6px;
  color: red;
}
