.overall-score {
  padding: 5px;
}

.overall-score--Yup {
  padding: 2px 6px;
  display: inline;
  color: green;
  background: black;
}

.overall-score--Kinda {
  display: inline;
  padding: 2px 6px;
  color: orange;
  background: black;
}

.overall-score--Nope {
  display: inline;
  padding: 2px 6px;
  color: red;
  background: black;
}
