.color-add-form {
  display: flex;
  flex-direction: column;
  gap: var(--gap-m);
  padding: 24px 0px 24px 0px;
  width: 100%;
}

.form-label {
  display: flex;
  flex-direction: column;
  gap: var(--gap-s);
}

.role-input {
  background-color: var(--background-color);
  border: 1.5px solid var(--text-dark);
  border-radius: var(--border-radius-s);
  padding: var(--input-padding);
  height: var(--input-height);
}
