/* This is a modern css reset found here:
https://www.joshwcomeau.com/css/custom-css-reset/
*/

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

:root {
  /* Colors */
  --background-color: #ebf2fa;
  --primary-dark: #05668d;
  --primary-light: #427aa1;
  --secondary-dark: #679436;
  --secondary-light: #a5be00;
  --tertrary: #ff0022;
  --quartray: #ffa62b;
  --text-light: #ebf2fa;
  --text-dark: #022b3b;

  /* Gaps */
  --gap-s: 8px;
  --gap-m: 16px;
  --gap-l: 32px;

  /* border */
  --border: 2px;
  --border-radius-m: 10px;
  --border-radius-s: 6px;

  /* input */
  --input-height: 2.5 rem;
  --input-padding: 8px 12px;
}
